<div class="main actor-index">
      <div class="container">
        <div class="row">

    <% @actors.each do |a| %>
          <div class="actor col-xs-2">
            
            <%=image_tag a.image %>
            <h3><p> <%=a.first_name %> <%=a.last_name %> </p></h3>
            <p> <%=a.bio %> </p>
            <%=link_to "Learn more",actor_path(a)%>
          </div>

    <% end %>      
      </div>
</div>
